In [ ]:
"""
Mercedes-Benz Greener Manufacturing.

DESCRIPTION

Reduce the time a Mercedes-Benz spends on the test bench.

Problem Statement Scenario:
Since the first automobile, the Benz Patent Motor Car in 1886, Mercedes-Benz has stood for important automotive innovations. These include the passenger safety cell with a crumple zone, the airbag, and intelligent assistance systems. Mercedes-Benz applies for nearly 2000 patents per year, making the brand the European leader among premium carmakers. Mercedes-Benz is the leader in the premium car industry. With a huge selection of features and options, customers can choose the customized Mercedes-Benz of their dreams.

To ensure the safety and reliability of every unique car configuration before they hit the road, the company’s engineers have developed a robust testing system. As one of the world’s biggest manufacturers of premium cars, safety and efficiency are paramount on Mercedes-Benz’s production lines. However, optimizing the speed of their testing system for many possible feature combinations is complex and time-consuming without a powerful algorithmic approach.

You are required to reduce the time that cars spend on the test bench. Others will work with a dataset representing different permutations of features in a Mercedes-Benz car to predict the time it takes to pass testing. Optimal algorithms will contribute to faster testing, resulting in lower carbon dioxide emissions without reducing Mercedes-Benz’s standards.

Following actions should be performed:

* If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
* Check for null and unique values for test and train sets.
* Apply label encoder.
* Perform dimensionality reduction.
* Predict your test_df values using XGBoost.

"""

In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [190]:
# Reading the train dataset
trn = pd.read_csv(r'C:\D_DRIVE\PGP\3 PGP AI - Machine Learning\Machine-Learning--Projects-master\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\train\train.csv', delimiter = ',')

#Reading the test dataset
tst = pd.read_csv(r'C:\D_DRIVE\PGP\3 PGP AI - Machine Learning\Machine-Learning--Projects-master\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\test\test.csv', delimiter = ',')

In [191]:
trn.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [192]:
tst.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [193]:
# Insights:
#----------
# There are 378 cols in train data set, X columns are named as X1, X2 etc.. and target is the Y column
# There are 377 cols in test data set , all columns except the Y column.


# Since there are lot of columns , we can use the below aggregate function to know about the datatypes of columns

dtype_df = trn.dtypes.reset_index()
dtype_df.columns = ["feature name","dtypes"]
dtype_df.groupby("dtypes").agg("count").reset_index()

    dtypes  feature name
0    int64           369
1  float64             1
2   object             8

In [194]:
dtype_df = tst.dtypes.reset_index()
dtype_df.columns = ["feature name","dtypes"]
dtype_df.groupby("dtypes").agg("count").reset_index()

   dtypes  feature name
0   int64           369
1  object             8

In [195]:
# Print the column if it has any null values
for i in trn.columns:
    if trn[i].isnull().sum() > 0 :
        print(trn[i].isnull().sum())

In [196]:
# No features has null values in train data

In [197]:
# Print the column if it has any null values
for i in tst.columns:
    if tst[i].isnull().sum() > 0 :
        print(tst[i].isnull().sum())

In [198]:
# No features has null values in test data

In [199]:
# Checking the unique values for each column in train data
for i in trn.columns:
    print(i,'**',trn[i].unique())

ID ** [   0    6    7 ... 8412 8415 8417]
y ** [130.81  88.53  76.26 ...  85.71 108.77  87.48]
X0 ** ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
X1 ** ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
X2 ** ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
X3 ** ['a' 'e' 'c' 'f' 'd' 'b' 'g']
X4 ** ['d' 'b' 'c' 'a']
X5 ** ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
X6 ** ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
X8 ** ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
X10 ** [0 1]
X11 ** [0]
X12 ** [0 1]
X13 ** [1 0]
X14 ** [0 1]
X15 ** [0 1]
X16 ** [0 1]
X17 ** [0 1]
X18 ** [1 0]
X19 ** [0 1]
X20 ** [0 1]
X21 ** [1 0]
X22 ** [0 1]
X23 ** [0 1]
X24 ** [0 1]
X26 ** [0 1]
X27 ** [0 1]
X28 ** [0 1]
X29 ** [0 1]
X30 ** [0 1]
X31 ** [1 0]
X32 ** [0 1]
X33 ** [0 1]
X34 ** [0 1]
X35 ** [1 0]
X36 ** [0 1]
X37 ** [1 0]
X38 ** [0 1]
X39 ** [0 1]
X40 ** [0 1]
X41 ** [0 1]
X42 ** [0 1]
X43 ** [0 1]
X44 ** [0 1]
X45 ** [0 1]
X46 ** [1 0]
X47 ** [0 1]
X48 ** [0 1]
X49 ** [0 1]
X50 ** [0 1]
X51 ** [0 1]
X52 ** [0 1]
X53 ** [0 1]
X54 ** [0 1]
X55 ** [0 1]
X56 ** [0 1]
X57 ** [0 1]
X58 ** [1 0]
X59 ** [0 1]
X60 ** [0 1]
X61 ** [0 1]
X62 ** [0 1]
X63 ** [0 1]
X64 ** [0 1]
X65 ** [0 1]
X66 ** [0 1]
X67 ** [0 1]
X68 ** [1 0]
X69 ** [0 1]
X70 ** [1 0]
X71 ** [0 1]
X73 ** [0 1]
X74 ** [1 0]
X75 ** [0 1]
X76 ** [0 1]
X77 ** [0 1]
X78 ** [0 1]
X79 ** [0 1]
X80 ** [0 1]
X81 ** [0 1]
X82 ** [0 1]
X83 ** [0 1]
X84 ** [0 1]
X85 ** [1 0]
X86 ** [0 1]
X87 ** [0 1]
X88 ** [0 1]
X89 ** [0 1]
X90 ** [0 1]
X91 ** [0 1]
X92 ** [0 1]
X93 ** [0]
X94 ** [0 1]
X95 ** [0 1]
X96 ** [0 1]
X97 ** [0 1]
X98 ** [0 1]
X99 ** [0 1]
X100 ** [0 1]
X101 ** [0 1]
X102 ** [0 1]
X103 ** [0 1]
X104 ** [0 1]
X105 ** [0 1]
X106 ** [0 1]
X107 ** [0]
X108 ** [0 1]
X109 ** [0 1]
X110 ** [0 1]
X111 ** [1 0]
X112 ** [0 1]
X113 ** [0 1]
X114 ** [1 0]
X115 ** [0 1]
X116 ** [1 0]
X117 ** [0 1]
X118 ** [1 0]
X119 ** [1 0]
X120 ** [1 0]
X122 ** [0 1]
X123 ** [0 1]
X124 ** [0 1]
X125 ** [0 1]
X126 ** [0 1]
X127 ** [0 1]
X128 ** [1 0]
X129 ** [0 1]
X130 ** [0 1]
X131 ** [1 0]
X132 ** [0 1]
X133 ** [0 1]
X134 ** [0 1]
X135 ** [0 1]
X136 ** [1 0]
X137 ** [1 0]
X138 ** [0 1]
X139 ** [0 1]
X140 ** [0 1]
X141 ** [0 1]
X142 ** [1 0]
X143 ** [0 1]
X144 ** [1 0]
X145 ** [0 1]
X146 ** [0 1]
X147 ** [0 1]
X148 ** [0 1]
X150 ** [1 0]
X151 ** [0 1]
X152 ** [0 1]
X153 ** [0 1]
X154 ** [0 1]
X155 ** [0 1]
X156 ** [1 0]
X157 ** [0 1]
X158 ** [0 1]
X159 ** [0 1]
X160 ** [0 1]
X161 ** [0 1]
X162 ** [0 1]
X163 ** [0 1]
X164 ** [0 1]
X165 ** [0 1]
X166 ** [0 1]
X167 ** [0 1]
X168 ** [0 1]
X169 ** [0 1]
X170 ** [1 0]
X171 ** [0 1]
X172 ** [0 1]
X173 ** [0 1]
X174 ** [0 1]
X175 ** [0 1]
X176 ** [0 1]
X177 ** [0 1]
X178 ** [0 1]
X179 ** [1 0]
X180 ** [0 1]
X181 ** [0 1]
X182 ** [0 1]
X183 ** [0 1]
X184 ** [1 0]
X185 ** [0 1]
X186 ** [0 1]
X187 ** [1 0]
X189 ** [1 0]
X190 ** [0 1]
X191 ** [0 1]
X192 ** [0 1]
X194 ** [1 0]
X195 ** [0 1]
X196 ** [0 1]
X197 ** [0 1]
X198 ** [0 1]
X199 ** [0 1]
X200 ** [0 1]
X201 ** [0 1]
X202 ** [0 1]
X203 ** [0 1]
X204 ** [1 0]
X205 ** [0 1]
X206 ** [0 1]
X207 ** [0 1]
X208 ** [0 1]
X209 ** [1 0]
X210 ** [0 1]
X211 ** [0 1]
X212 ** [0 1]
X213 ** [0 1]
X214 ** [0 1]
X215 ** [0 1]
X216 ** [0 1]
X217 ** [0 1]
X218 ** [0 1]
X219 ** [0 1]
X220 ** [1 0]
X221 ** [0 1]
X222 ** [0 1]
X223 ** [0 1]
X224 ** [0 1]
X225 ** [0 1]
X226 ** [0 1]
X227 ** [0 1]
X228 ** [0 1]
X229 ** [0 1]
X230 ** [0 1]
X231 ** [0 1]
X232 ** [0 1]
X233 ** [0]
X234 ** [1 0]
X235 ** [0]
X236 ** [0 1]
X237 ** [1 0]
X238 ** [0 1]
X239 ** [0 1]
X240 ** [0 1]
X241 ** [0 1]
X242 ** [0 1]
X243 ** [0 1]
X244 ** [0 1]
X245 ** [0 1]
X246 ** [0 1]
X247 ** [0 1]
X248 ** [0 1]
X249 ** [0 1]
X250 ** [0 1]
X251 ** [0 1]
X252 ** [0 1]
X253 ** [0 1]
X254 ** [0 1]
X255 ** [0 1]
X256 ** [0 1]
X257 ** [0 1]
X258 ** [0 1]
X259 ** [0 1]
X260 ** [0 1]
X261 ** [0 1]
X262 ** [1 0]
X263 ** [1 0]
X264 ** [0 1]
X265 ** [0 1]
X266 ** [1 0]
X267 ** [0 1]
X268 ** [0]
X269 ** [0 1]
X270 ** [0 1]
X271 ** [0 1]
X272 ** [0 1]
X273 ** [1 0]
X274 ** [0 1]
X275 ** [1 0]
X276 ** [0 1]
X277 ** [0 1]
X278 ** [0 1]
X279 ** [0 1]
X280 ** [0 1]
X281 ** [0 1]
X282 ** [0 1]
X283 ** [0 1]
X284 ** [0 1]
X285 ** [1 0]
X286 ** [0 1]
X287 ** [0 1]
X288 ** [0 1]
X289 ** [0]
X290 ** [0]
X291 ** [0 1]
X292 ** [0 1]
X293 ** [0]
X294 ** [0 1]
X295 ** [0 1]
X296 ** [0 1]
X297 ** [0]
X298 ** [0 1]
X299 ** [0 1]
X300 ** [0 1]
X301 ** [0 1]
X302 ** [0 1]
X304 ** [0 1]
X305 ** [0 1]
X306 ** [1 0]
X307 ** [0 1]
X308 ** [0 1]
X309 ** [0 1]
X310 ** [0 1]
X311 ** [0 1]
X312 ** [0 1]
X313 ** [0 1]
X314 ** [0 1]
X315 ** [0 1]
X316 ** [1 0]
X317 ** [0 1]
X318 ** [0 1]
X319 ** [0 1]
X320 ** [0 1]
X321 ** [0 1]
X322 ** [0 1]
X323 ** [0 1]
X324 ** [1 0]
X325 ** [0 1]
X326 ** [0 1]
X327 ** [1 0]
X328 ** [0 1]
X329 ** [1 0]
X330 ** [0]
X331 ** [0 1]
X332 ** [0 1]
X333 ** [0 1]
X334 ** [1 0]
X335 ** [0 1]
X336 ** [0 1]
X337 ** [0 1]
X338 ** [0 1]
X339 ** [0 1]
X340 ** [0 1]
X341 ** [0 1]
X342 ** [0 1]
X343 ** [0 1]
X344 ** [0 1]
X345 ** [0 1]
X346 ** [0 1]
X347 ** [0]
X348 ** [0 1]
X349 ** [0 1]
X350 ** [0 1]
X351 ** [0 1]
X352 ** [0 1]
X353 ** [0 1]
X354 ** [1 0]
X355 ** [0 1]
X356 ** [0 1]
X357 ** [0 1]
X358 ** [0 1]
X359 ** [0 1]
X360 ** [0 1]
X361 ** [1 0]
X362 ** [0 1]
X363 ** [0 1]
X364 ** [0 1]
X365 ** [0 1]
X366 ** [0 1]
X367 ** [0 1]
X368 ** [0 1]
X369 ** [0 1]
X370 ** [0 1]
X371 ** [0 1]
X372 ** [0 1]
X373 ** [0 1]
X374 ** [0 1]
X375 ** [0 1]
X376 ** [0 1]
X377 ** [1 0]
X378 ** [0 1]
X379 ** [0 1]
X380 ** [0 1]
X382 ** [0 1]
X383 ** [0 1]
X384 ** [0 1]
X385 ** [0 1]

In [96]:
# Checking the unique values for each column in test data
for i in tst.columns:
    print(i,'**',tst[i].unique())

ID ** [   1    2    3 ... 8413 8414 8416]
X0 ** ['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
X1 ** ['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
X2 ** ['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']
X3 ** ['f' 'a' 'c' 'e' 'd' 'g' 'b']
X4 ** ['d' 'b' 'a' 'c']
X5 ** ['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
X6 ** ['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']
X8 ** ['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']
X10 ** [0 1]
X11 ** [0 1]
X12 ** [0 1]
X13 ** [0 1]
X14 ** [0 1]
X15 ** [0 1]
X16 ** [0 1]
X17 ** [0 1]
X18 ** [0 1]
X19 ** [0 1]
X20 ** [0 1]
X21 ** [0 1]
X22 ** [0 1]
X23 ** [0 1]
X24 ** [0 1]
X26 ** [0 1]
X27 ** [1 0]
X28 ** [1 0]
X29 ** [1 0]
X30 ** [0 1]
X31 ** [1 0]
X32 ** [0 1]
X33 ** [0 1]
X34 ** [0 1]
X35 ** [1 0]
X36 ** [0 1]
X37 ** [1 0]
X38 ** [0 1]
X39 ** [0 1]
X40 ** [0 1]
X41 ** [0 1]
X42 ** [0 1]
X43 ** [1 0]
X44 ** [0 1]
X45 ** [0 1]
X46 ** [1 0]
X47 ** [0 1]
X48 ** [0 1]
X49 ** [0 1]
X50 ** [0 1]
X51 ** [0 1]
X52 ** [0 1]
X53 ** [0 1]
X54 ** [1 0]
X55 ** [0 1]
X56 ** [0 1]
X57 ** [0 1]
X58 ** [0 1]
X59 ** [0 1]
X60 ** [0 1]
X61 ** [1 0]
X62 ** [0 1]
X63 ** [0 1]
X64 ** [0 1]
X65 ** [0 1]
X66 ** [0 1]
X67 ** [0 1]
X68 ** [0 1]
X69 ** [0 1]
X70 ** [1 0]
X71 ** [0 1]
X73 ** [0 1]
X74 ** [1 0]
X75 ** [0 1]
X76 ** [1 0]
X77 ** [0 1]
X78 ** [0 1]
X79 ** [0 1]
X80 ** [1 0]
X81 ** [0 1]
X82 ** [0 1]
X83 ** [0 1]
X84 ** [0 1]
X85 ** [0 1]
X86 ** [0 1]
X87 ** [0 1]
X88 ** [0 1]
X89 ** [0 1]
X90 ** [0 1]
X91 ** [0 1]
X92 ** [0 1]
X93 ** [0 1]
X94 ** [0 1]
X95 ** [0 1]
X96 ** [1 0]
X97 ** [0 1]
X98 ** [1 0]
X99 ** [0 1]
X100 ** [0 1]
X101 ** [1 0]
X102 ** [0 1]
X103 ** [0 1]
X104 ** [0 1]
X105 ** [0 1]
X106 ** [0 1]
X107 ** [0 1]
X108 ** [0 1]
X109 ** [0 1]
X110 ** [0 1]
X111 ** [1 0]
X112 ** [0 1]
X113 ** [0 1]
X114 ** [1 0]
X115 ** [0 1]
X116 ** [0 1]
X117 ** [0 1]
X118 ** [0 1]
X119 ** [0 1]
X120 ** [0 1]
X122 ** [0 1]
X123 ** [0 1]
X124 ** [0 1]
X125 ** [0 1]
X126 ** [0 1]
X127 ** [0 1]
X128 ** [1 0]
X129 ** [0 1]
X130 ** [0 1]
X131 ** [0 1]
X132 ** [1 0]
X133 ** [0 1]
X134 ** [0 1]
X135 ** [0 1]
X136 ** [0 1]
X137 ** [0 1]
X138 ** [0 1]
X139 ** [0 1]
X140 ** [0 1]
X141 ** [0 1]
X142 ** [0 1]
X143 ** [0 1]
X144 ** [1 0]
X145 ** [0 1]
X146 ** [0 1]
X147 ** [0 1]
X148 ** [1 0]
X150 ** [1 0]
X151 ** [0 1]
X152 ** [0 1]
X153 ** [0 1]
X154 ** [0 1]
X155 ** [0 1]
X156 ** [0 1]
X157 ** [1 0]
X158 ** [1 0]
X159 ** [0 1]
X160 ** [0 1]
X161 ** [0 1]
X162 ** [1 0]
X163 ** [0 1]
X164 ** [0 1]
X165 ** [0 1]
X166 ** [1 0]
X167 ** [0 1]
X168 ** [0 1]
X169 ** [0 1]
X170 ** [0 1]
X171 ** [0 1]
X172 ** [0 1]
X173 ** [0 1]
X174 ** [0 1]
X175 ** [0 1]
X176 ** [0 1]
X177 ** [0 1]
X178 ** [0 1]
X179 ** [1 0]
X180 ** [0 1]
X181 ** [0 1]
X182 ** [0 1]
X183 ** [0 1]
X184 ** [0 1]
X185 ** [1 0]
X186 ** [0 1]
X187 ** [0 1]
X189 ** [0 1]
X190 ** [0 1]
X191 ** [0 1]
X192 ** [0 1]
X194 ** [1 0]
X195 ** [0 1]
X196 ** [0 1]
X197 ** [0 1]
X198 ** [0 1]
X199 ** [0 1]
X200 ** [0 1]
X201 ** [0 1]
X202 ** [0 1]
X203 ** [0 1]
X204 ** [1 0]
X205 ** [0 1]
X206 ** [0 1]
X207 ** [0 1]
X208 ** [0 1]
X209 ** [1 0]
X210 ** [0 1]
X211 ** [0 1]
X212 ** [0 1]
X213 ** [0 1]
X214 ** [0 1]
X215 ** [0 1]
X216 ** [0 1]
X217 ** [0 1]
X218 ** [1 0]
X219 ** [0 1]
X220 ** [1 0]
X221 ** [0 1]
X222 ** [0 1]
X223 ** [1 0]
X224 ** [0 1]
X225 ** [0 1]
X226 ** [0 1]
X227 ** [0 1]
X228 ** [0 1]
X229 ** [0 1]
X230 ** [0 1]
X231 ** [0 1]
X232 ** [1 0]
X233 ** [0 1]
X234 ** [0 1]
X235 ** [0 1]
X236 ** [0 1]
X237 ** [0 1]
X238 ** [0 1]
X239 ** [0 1]
X240 ** [0 1]
X241 ** [0 1]
X242 ** [0 1]
X243 ** [0 1]
X244 ** [0 1]
X245 ** [0 1]
X246 ** [1 0]
X247 ** [0 1]
X248 ** [0 1]
X249 ** [0 1]
X250 ** [1 0]
X251 ** [0 1]
X252 ** [0 1]
X253 ** [0 1]
X254 ** [0 1]
X255 ** [0 1]
X256 ** [1 0]
X257 ** [0]
X258 ** [0]
X259 ** [0 1]
X260 ** [0 1]
X261 ** [0 1]
X262 ** [0 1]
X263 ** [0 1]
X264 ** [0 1]
X265 ** [0 1]
X266 ** [0 1]
X267 ** [0 1]
X268 ** [0 1]
X269 ** [0 1]
X270 ** [0 1]
X271 ** [0 1]
X272 ** [1 0]
X273 ** [1 0]
X274 ** [0 1]
X275 ** [0 1]
X276 ** [1 0]
X277 ** [0 1]
X278 ** [0 1]
X279 ** [1 0]
X280 ** [0 1]
X281 ** [0 1]
X282 ** [0 1]
X283 ** [0 1]
X284 ** [0 1]
X285 ** [0 1]
X286 ** [1 0]
X287 ** [0 1]
X288 ** [0 1]
X289 ** [0 1]
X290 ** [0 1]
X291 ** [0 1]
X292 ** [0 1]
X293 ** [0 1]
X294 ** [0 1]
X295 ** [0]
X296 ** [0]
X297 ** [0 1]
X298 ** [0 1]
X299 ** [0 1]
X300 ** [0 1]
X301 ** [0 1]
X302 ** [0 1]
X304 ** [1 0]
X305 ** [0 1]
X306 ** [0 1]
X307 ** [0 1]
X308 ** [0 1]
X309 ** [0 1]
X310 ** [0 1]
X311 ** [0 1]
X312 ** [0 1]
X313 ** [0 1]
X314 ** [0 1]
X315 ** [0 1]
X316 ** [0 1]
X317 ** [0 1]
X318 ** [0 1]
X319 ** [0 1]
X320 ** [0 1]
X321 ** [0 1]
X322 ** [0 1]
X323 ** [0 1]
X324 ** [0 1]
X325 ** [0 1]
X326 ** [0 1]
X327 ** [0 1]
X328 ** [1 0]
X329 ** [0 1]
X330 ** [0 1]
X331 ** [0 1]
X332 ** [0 1]
X333 ** [0 1]
X334 ** [1 0]
X335 ** [0 1]
X336 ** [0 1]
X337 ** [0 1]
X338 ** [0 1]
X339 ** [0 1]
X340 ** [0 1]
X341 ** [0 1]
X342 ** [0 1]
X343 ** [0 1]
X344 ** [0 1]
X345 ** [0 1]
X346 ** [0 1]
X347 ** [0 1]
X348 ** [1 0]
X349 ** [0 1]
X350 ** [1 0]
X351 ** [0 1]
X352 ** [0 1]
X353 ** [0 1]
X354 ** [0 1]
X355 ** [0 1]
X356 ** [0 1]
X357 ** [0 1]
X358 ** [1 0]
X359 ** [0 1]
X360 ** [0 1]
X361 ** [1 0]
X362 ** [0 1]
X363 ** [1 0]
X364 ** [0 1]
X365 ** [0 1]
X366 ** [0 1]
X367 ** [0 1]
X368 ** [0 1]
X369 ** [0]
X370 ** [0 1]
X371 ** [0 1]
X372 ** [0 1]
X373 ** [0 1]
X374 ** [0 1]
X375 ** [0 1]
X376 ** [0 1]
X377 ** [0 1]
X378 ** [1 0]
X379 ** [0 1]
X380 ** [0 1]
X382 ** [0 1]
X383 ** [0 1]
X384 ** [0 1]
X385 ** [0 1]

In [97]:
# Insights:
#----------
# From the above, we can see most of the featues are binary from X10 onwards 
# Many are constants like X11,X93 etc has only values as zeroes, we will confirm this by finding the variance below
# After confirming the variance as zero, We can drop such cols as they will not contribute to the model
# We can also see fetures with zero variance in train are not similar with test data - so here we have to remove the same features from test data as well

In [56]:
# To identify features with 0 variance , Since we could not find variance of categorical features, we do this after label encoding

In [40]:
# Encoding Categorical features in train data - X0
print(trn['X0'].unique())
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
trn['X0'] = enc.fit_transform(trn['X0'])

['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']

In [41]:
# Applying same label encoder to test data X0 column
tst['X0'] = enc.transform(tst['X0'])

ValueError: y contains previously unseen labels: 'av'

In [141]:
# With the above error, we can understand that some of values in X0 column in test set are not presennt in train set 
# and they were not encoded, hence we get error while applying on test

# Now we will identify the uncommon values
set(trn['X0'].unique()) - (set(tst['X0'].unique()))

{'aa', 'ab', 'ac', 'q'}

In [142]:
set(tst['X0'].unique()) - (set(trn['X0'].unique()))

{'ae', 'ag', 'an', 'av', 'bb', 'p'}

In [143]:
# So we get the uncommon values in both train & test data sets. Now we will apply label encoder using the unique values
enc = LabelEncoder()
enc.fit_transform(['k','az','t','al','o','w', 'j', 'h', 's', 'n', 'ay', 'f', 'x', 'y', 'aj', 'ak', 'am',
 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e', 'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i',
 'r', 'b', 'ax', 'bc', 'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab', 'ae', 'ag', 'an', 'av', 'bb', 'p'])

array([37, 24, 46, 11, 41, 49, 36, 34, 45, 40, 23, 32, 50, 51,  9, 10, 12,
       52, 43, 18, 15, 48,  6,  0, 31,  8, 30, 16, 29,  1, 26, 17, 35, 44,
       25, 22, 28, 47,  4, 19, 39, 38, 21, 14,  3, 33,  2,  5,  7, 13, 20,
       27, 42], dtype=int64)

In [144]:
trn.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [145]:
# Now tranform the train data using the encoder
trn['X0'] = enc.transform(trn['X0'])

In [146]:
trn.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,37,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,37,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,24,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,24,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,24,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [147]:
tst.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [148]:
# Now tranform the test data using the encoder
tst['X0'] = enc.transform(tst['X0'])

In [149]:
tst.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,24,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,46,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,24,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,24,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,49,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
## From the above we can see the value 'az' in both train & test data has been decoded as 24. Now this holds good.
# This can be repeated for the columns X1-X6,X8 as well

In [150]:
# Now we will identify the uncommon values for X1 column
print(set(trn['X1'].unique()) - (set(tst['X1'].unique())))
print(set(tst['X1'].unique()) - (set(trn['X1'].unique())))

set()
set()

In [151]:
# From the above we can see there are no uncommon values between train & test data for column X1. So we can directly apply using column
enc = LabelEncoder()
trn['X1'] = enc.fit_transform(trn['X1'])
tst['X1'] = enc.transform(tst['X1'])

In [152]:
# Now we will identify the uncommon values for X1 column
print(set(trn['X2'].unique()) - (set(tst['X2'].unique())))
print(set(tst['X2'].unique()) - (set(trn['X2'].unique())))

{'aa', 'c', 'o', 'l', 'ar'}
{'ad', 'ax', 'u', 'ab', 'w', 'aj'}

In [153]:
# So we have some uncommon values similar to X0 column
print(trn['X2'].unique())
print(tst['X2'].unique())

['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']

In [154]:
# Now we define the encoder and fit the values
encX2 = LabelEncoder()
encX2.fit_transform(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k','ae', 's', 'f', 'd', 'ag', 
                     'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y', 'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 
                     'p', 'am', 'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar','ad', 'ax', 'u', 'ab', 'w', 'aj'])

array([20, 22, 38, 29, 19, 17, 42,  9, 11, 37,  0, 35,  5, 43, 30, 28,  7,
       25,  3, 16, 31, 33, 23, 48, 26, 15, 12, 32, 47, 21, 44, 14, 49,  8,
       40, 13, 34, 41,  6, 36,  1, 27, 39, 18,  4, 24, 45,  2, 46, 10],
      dtype=int64)

In [157]:
# Now tranform the train & test data using the encoder
trn['X2'] = encX2.transform(trn['X2'])
tst['X2'] = encX2.transform(tst['X2'])

In [158]:
# Now we will identify the uncommon values for X3 column
print(set(trn['X3'].unique()) - (set(tst['X3'].unique())))
print(set(tst['X3'].unique()) - (set(trn['X3'].unique())))

set()
set()

In [159]:
# From the above we can see there are no uncommon values between train & test data for column X3. So we can directly apply using column
encX3 = LabelEncoder()
trn['X3'] = encX3.fit_transform(trn['X3'])
tst['X3'] = encX3.transform(tst['X3'])

In [160]:
# Now we will identify the uncommon values for X4 column
print(set(trn['X4'].unique()) - (set(tst['X4'].unique())))
print(set(tst['X4'].unique()) - (set(trn['X4'].unique())))

set()
set()

In [161]:
# From the above we can see there are no uncommon values between train & test data for column X4. So we can directly apply using column
encX4 = LabelEncoder()
trn['X4'] = encX4.fit_transform(trn['X4'])
tst['X4'] = encX4.transform(tst['X4'])

In [162]:
# Now we will identify the uncommon values for X5 column
print(set(trn['X5'].unique()) - (set(tst['X5'].unique())))
print(set(tst['X5'].unique()) - (set(trn['X5'].unique())))

{'u'}
{'z', 'a', 'b', 't'}

In [165]:
# So we have some uncommon values similar to X5 column
trn['X5'].unique()

array(['u', 'y', 'x', 'h', 'g', 'f', 'j', 'i', 'd', 'c', 'af', 'ag', 'ab',
       'ac', 'ad', 'ae', 'ah', 'l', 'k', 'n', 'm', 'p', 'q', 's', 'r',
       'v', 'w', 'o', 'aa'], dtype=object)

In [166]:
# Now we define the encoder and fit the values of column X5
encX5 = LabelEncoder()
encX5.fit_transform(['u', 'y', 'x', 'h', 'g', 'f', 'j', 'i', 'd', 'c', 'af', 'ag', 'ab',
       'ac', 'ad', 'ae', 'ah', 'l', 'k', 'n', 'm', 'p', 'q', 's', 'r',
       'v', 'w', 'o', 'aa','z', 'a', 'b', 't'])

array([27, 31, 30, 14, 13, 12, 16, 15, 11, 10,  6,  7,  2,  3,  4,  5,  8,
       18, 17, 20, 19, 22, 23, 25, 24, 28, 29, 21,  1, 32,  0,  9, 26],
      dtype=int64)

In [169]:
# Now tranform the train & test data using the encoder
trn['X5'] = encX5.transform(trn['X5'])
tst['X5'] = encX5.transform(tst['X5'])

In [171]:
# Now we will identify the uncommon values for X6 column
print(set(trn['X6'].unique()) - (set(tst['X6'].unique())))
print(set(tst['X6'].unique()) - (set(trn['X6'].unique())))

set()
set()

In [172]:
# From the above we can see there are no uncommon values between train & test data for column X6. 
# So we can directly apply using column
encX6 = LabelEncoder()
trn['X6'] = encX6.fit_transform(trn['X6'])
tst['X6'] = encX6.transform(tst['X6'])

In [174]:
# Now we will identify the uncommon values for X8 column
print(set(trn['X8'].unique()) - (set(tst['X8'].unique())))
print(set(tst['X8'].unique()) - (set(trn['X8'].unique())))

set()
set()

In [175]:
# From the above we can see there are no uncommon values between train & test data for column X8. 
# So we can directly apply using column
encX8 = LabelEncoder()
trn['X8'] = encX8.fit_transform(trn['X8'])
tst['X8'] = encX8.transform(tst['X8'])

In [176]:
# Identify features with 0 variance , Since we could not find variance of categorical features, we do this after label encoding
temp = []
for i in trn.columns:
    if trn[i].var()==0:
        temp.append(i)
        
print('No. of features in train data has zero variance:',len(temp))
print('List here:',temp)

No. of features in train data has zero variance: 12
List here: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']

In [177]:
# Dropping cols with Zero variance

trn.drop(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347'], axis=1)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,37,23,20,0,3,27,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,37,21,22,4,3,31,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,24,24,38,2,3,30,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,24,21,38,5,3,30,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,24,23,38,5,3,14,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,10,20,19,2,3,1,3,16,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,36,16,44,3,3,1,7,7,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,10,23,42,0,3,1,6,4,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,11,19,29,5,3,1,11,20,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,52,19,5,2,3,1,6,22,...,1,0,0,0,0,0,0,0,0,0

In [178]:
# Since features with 0 variance are removed from train data, the same should be removed from test data

tst.drop(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347'], axis=1)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,24,23,38,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,46,3,9,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,24,23,19,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,24,13,38,5,3,32,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,49,20,19,2,3,31,8,12,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,9,9,19,5,3,1,9,4,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,46,1,9,3,3,1,9,24,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,51,23,19,5,3,1,3,22,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,10,23,19,0,3,1,2,16,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,46,1,9,2,3,1,6,17,0,...,1,0,0,0,0,0,0,0,0,0

In [179]:
# Checking whether all features in train are numerical datatype to go before PCA
dtype_df = trn.dtypes.reset_index()
dtype_df.columns = ["feature name","dtypes"]
dtype_df.groupby("dtypes").agg("count").reset_index()

    dtypes  feature name
0    int32             8
1    int64           369
2  float64             1

In [180]:
# Checking whether all features in test are numerical datatype to go before PCA
dtype_df = tst.dtypes.reset_index()
dtype_df.columns = ["feature name","dtypes"]
dtype_df.groupby("dtypes").agg("count").reset_index()

  dtypes  feature name
0  int32             8
1  int64           369

In [181]:
# Dropping ID from both train & test as it will not be used by model

trnPca=trn.drop(['ID','y'],axis=1)
tstPca=tst.drop(['ID'],axis=1)

In [182]:
# Perform dimensionality reduction using PCA
from sklearn.decomposition import PCA
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
trnPca= pca.fit_transform(trnPca)
tstPca = pca.transform(tstPca)

In [183]:
trnPca.shape

(4209, 12)

In [184]:
tstPca.shape

(4209, 12)

In [ ]:
# Now the total 377 X columns are reduced into 12 columns after applying PCA

In [185]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\ensar\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\users\ensar\anaconda3\lib\site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in c:\users\ensar\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Note: you may need to restart the kernel to use updated packages.

In [186]:
# ML Modeling with XGboost
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

# Defining train & test for model input
train_X = trnPca
train_y = trn['y']

# Splitting
x_train, x_valid, y_train, y_valid = train_test_split(train_X, train_y, test_size=0.2, random_state=420)

# Defining feature set
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
d_test = xgb.DMatrix(tstPca)
xgb_params = {
 'n_trees': 500, 
 'eta': 0.0050,
 'max_depth': 3,
 'subsample': 0.95,
 'objective': 'reg:linear',
 'eval_metric': 'rmse',
 'base_score': np.mean(train_y), # base prediction = mean(target)
 'silent': 1
}

# Creating a function for the predicting score
def xgb_r2_score(preds, dtrain):
 labels = dtrain.get_label()
 return 'r2', r2_score(labels, preds)
watchlist = [(d_train, 'train'), (d_valid, 'valid')]
mdl = xgb.train(xgb_params, d_train, 1050 , watchlist, early_stopping_rounds=50, feval=xgb_r2_score, maximize=True, verbose_eval=10)

[00:03:27] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[00:03:28] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "n_trees", "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-rmse:12.76558	train-r2:0.00294	valid-rmse:12.22352	valid-r2:0.00314
[10]	train-rmse:12.58890	train-r2:0.03034	valid-rmse:12.03743	valid-r2:0.03326
[20]	train-rmse:12.42513	train-r2:0.05541	valid-rmse:11.86727	valid-r2:0.06040
[30]	train-rmse:12.27386	train-r2:0.07827	valid-rmse:11.71038	valid-r2:0.08508
[40]	train-rmse:12.13359	train-r2:0.09922	valid-rmse:11.56504	valid-r2:0.10765
[50]	train-rmse:12.00464	train-r2:0.11826	valid-rmse:11.43020	valid-r2:0.12833
[60]	train-rmse:11.88540	train-r2:0.13569	valid-rmse:11.30510	valid-r2:0.14731
[70]	train-rmse:11.77336	train-r2:0.15191	valid-rmse:11.18944	valid-r2:0.16467
[80]	train-rmse:11.66823	train-r2:0.16699	valid-rmse:11.07946	valid-r2:0.18101
[90]	train-rmse:11.56834	train-r2:0.18119	valid-rmse:10.97649	valid-r2:0.19616
[100]	train-rmse:11.47639	train-r2:0.19415	valid-rmse:10.88214	valid-r2:0.20992
[110]	train-rmse:11.39070	train-r2:0.20614	valid-rmse:10.79327	valid-r2:0.22277
[120]	train-rmse:11.30960	train-r2:0.21741	valid-rmse:10.71008	valid-r2:0.23471
[130]	train-rmse:11.23512	train-r2:0.22768	valid-rmse:10.63278	valid-r2:0.24571
[140]	train-rmse:11.16572	train-r2:0.23719	valid-rmse:10.56280	valid-r2:0.25561
[150]	train-rmse:11.10045	train-r2:0.24608	valid-rmse:10.49755	valid-r2:0.26478
[160]	train-rmse:11.03985	train-r2:0.25429	valid-rmse:10.43687	valid-r2:0.27325
[170]	train-rmse:10.98249	train-r2:0.26202	valid-rmse:10.37700	valid-r2:0.28157
[180]	train-rmse:10.92649	train-r2:0.26953	valid-rmse:10.32179	valid-r2:0.28919
[190]	train-rmse:10.87144	train-r2:0.27687	valid-rmse:10.26817	valid-r2:0.29656
[200]	train-rmse:10.82009	train-r2:0.28369	valid-rmse:10.21780	valid-r2:0.30344
[210]	train-rmse:10.77245	train-r2:0.28998	valid-rmse:10.17255	valid-r2:0.30960
[220]	train-rmse:10.72769	train-r2:0.29587	valid-rmse:10.12943	valid-r2:0.31544
[230]	train-rmse:10.68468	train-r2:0.30150	valid-rmse:10.08861	valid-r2:0.32094
[240]	train-rmse:10.64036	train-r2:0.30728	valid-rmse:10.04651	valid-r2:0.32660
[250]	train-rmse:10.59916	train-r2:0.31264	valid-rmse:10.00990	valid-r2:0.33150
[260]	train-rmse:10.56058	train-r2:0.31764	valid-rmse:9.97356	valid-r2:0.33634
[270]	train-rmse:10.52306	train-r2:0.32247	valid-rmse:9.93709	valid-r2:0.34119
[280]	train-rmse:10.48810	train-r2:0.32697	valid-rmse:9.90495	valid-r2:0.34544
[290]	train-rmse:10.45157	train-r2:0.33165	valid-rmse:9.87349	valid-r2:0.34959
[300]	train-rmse:10.41548	train-r2:0.33626	valid-rmse:9.84227	valid-r2:0.35370
[310]	train-rmse:10.37992	train-r2:0.34078	valid-rmse:9.81266	valid-r2:0.35758
[320]	train-rmse:10.34566	train-r2:0.34513	valid-rmse:9.78362	valid-r2:0.36138
[330]	train-rmse:10.31224	train-r2:0.34935	valid-rmse:9.75542	valid-r2:0.36506
[340]	train-rmse:10.27994	train-r2:0.35342	valid-rmse:9.72793	valid-r2:0.36863
[350]	train-rmse:10.24410	train-r2:0.35792	valid-rmse:9.69941	valid-r2:0.37233
[360]	train-rmse:10.21008	train-r2:0.36218	valid-rmse:9.67219	valid-r2:0.37584
[370]	train-rmse:10.17821	train-r2:0.36615	valid-rmse:9.64752	valid-r2:0.37903
[380]	train-rmse:10.14790	train-r2:0.36992	valid-rmse:9.62240	valid-r2:0.38226
[390]	train-rmse:10.12156	train-r2:0.37319	valid-rmse:9.60063	valid-r2:0.38505
[400]	train-rmse:10.09375	train-r2:0.37663	valid-rmse:9.57713	valid-r2:0.38805
[410]	train-rmse:10.06688	train-r2:0.37994	valid-rmse:9.55720	valid-r2:0.39060
[420]	train-rmse:10.03905	train-r2:0.38337	valid-rmse:9.53595	valid-r2:0.39331
[430]	train-rmse:10.01506	train-r2:0.38631	valid-rmse:9.51623	valid-r2:0.39581
[440]	train-rmse:9.98997	train-r2:0.38938	valid-rmse:9.49603	valid-r2:0.39837
[450]	train-rmse:9.96728	train-r2:0.39215	valid-rmse:9.48097	valid-r2:0.40028
[460]	train-rmse:9.94329	train-r2:0.39508	valid-rmse:9.46281	valid-r2:0.40258
[470]	train-rmse:9.92062	train-r2:0.39783	valid-rmse:9.44578	valid-r2:0.40472
[480]	train-rmse:9.89959	train-r2:0.40038	valid-rmse:9.43154	valid-r2:0.40652
[490]	train-rmse:9.87997	train-r2:0.40275	valid-rmse:9.41752	valid-r2:0.40828
[500]	train-rmse:9.85757	train-r2:0.40546	valid-rmse:9.40270	valid-r2:0.41014
[510]	train-rmse:9.83884	train-r2:0.40772	valid-rmse:9.38996	valid-r2:0.41174
[520]	train-rmse:9.81963	train-r2:0.41003	valid-rmse:9.37636	valid-r2:0.41344
[530]	train-rmse:9.79859	train-r2:0.41255	valid-rmse:9.36192	valid-r2:0.41525
[540]	train-rmse:9.78171	train-r2:0.41458	valid-rmse:9.35114	valid-r2:0.41659
[550]	train-rmse:9.76484	train-r2:0.41659	valid-rmse:9.33990	valid-r2:0.41799
[560]	train-rmse:9.74657	train-r2:0.41877	valid-rmse:9.32788	valid-r2:0.41949
[570]	train-rmse:9.72666	train-r2:0.42115	valid-rmse:9.31830	valid-r2:0.42068
[580]	train-rmse:9.71077	train-r2:0.42303	valid-rmse:9.30959	valid-r2:0.42177
[590]	train-rmse:9.69069	train-r2:0.42542	valid-rmse:9.29632	valid-r2:0.42341
[600]	train-rmse:9.67341	train-r2:0.42747	valid-rmse:9.28682	valid-r2:0.42459
[610]	train-rmse:9.65747	train-r2:0.42935	valid-rmse:9.27635	valid-r2:0.42589
[620]	train-rmse:9.64142	train-r2:0.43125	valid-rmse:9.26750	valid-r2:0.42698
[630]	train-rmse:9.62064	train-r2:0.43370	valid-rmse:9.25638	valid-r2:0.42836
[640]	train-rmse:9.60690	train-r2:0.43531	valid-rmse:9.24854	valid-r2:0.42933
[650]	train-rmse:9.58856	train-r2:0.43747	valid-rmse:9.23892	valid-r2:0.43051
[660]	train-rmse:9.57205	train-r2:0.43940	valid-rmse:9.22894	valid-r2:0.43174
[670]	train-rmse:9.55429	train-r2:0.44148	valid-rmse:9.21975	valid-r2:0.43287
[680]	train-rmse:9.53813	train-r2:0.44337	valid-rmse:9.21188	valid-r2:0.43384
[690]	train-rmse:9.52066	train-r2:0.44541	valid-rmse:9.20343	valid-r2:0.43488
[700]	train-rmse:9.50506	train-r2:0.44722	valid-rmse:9.19506	valid-r2:0.43590
[710]	train-rmse:9.49123	train-r2:0.44883	valid-rmse:9.18582	valid-r2:0.43704
[720]	train-rmse:9.47772	train-r2:0.45040	valid-rmse:9.17974	valid-r2:0.43778
[730]	train-rmse:9.46432	train-r2:0.45195	valid-rmse:9.17158	valid-r2:0.43878
[740]	train-rmse:9.44829	train-r2:0.45381	valid-rmse:9.16468	valid-r2:0.43963
[750]	train-rmse:9.43377	train-r2:0.45548	valid-rmse:9.15763	valid-r2:0.44049
[760]	train-rmse:9.42113	train-r2:0.45694	valid-rmse:9.15150	valid-r2:0.44124
[770]	train-rmse:9.40764	train-r2:0.45849	valid-rmse:9.14444	valid-r2:0.44210
[780]	train-rmse:9.39182	train-r2:0.46031	valid-rmse:9.13906	valid-r2:0.44276
[790]	train-rmse:9.38080	train-r2:0.46158	valid-rmse:9.13316	valid-r2:0.44348
[800]	train-rmse:9.36385	train-r2:0.46352	valid-rmse:9.12641	valid-r2:0.44430
[810]	train-rmse:9.34870	train-r2:0.46526	valid-rmse:9.12052	valid-r2:0.44501
[820]	train-rmse:9.33144	train-r2:0.46723	valid-rmse:9.11353	valid-r2:0.44587
[830]	train-rmse:9.31682	train-r2:0.46890	valid-rmse:9.10834	valid-r2:0.44649
[840]	train-rmse:9.30433	train-r2:0.47032	valid-rmse:9.10232	valid-r2:0.44723
[850]	train-rmse:9.29009	train-r2:0.47194	valid-rmse:9.09573	valid-r2:0.44803
[860]	train-rmse:9.27535	train-r2:0.47362	valid-rmse:9.08838	valid-r2:0.44892
[870]	train-rmse:9.26106	train-r2:0.47524	valid-rmse:9.08062	valid-r2:0.44986
[880]	train-rmse:9.24912	train-r2:0.47659	valid-rmse:9.07326	valid-r2:0.45075
[890]	train-rmse:9.23550	train-r2:0.47813	valid-rmse:9.06928	valid-r2:0.45123
[900]	train-rmse:9.22322	train-r2:0.47952	valid-rmse:9.06681	valid-r2:0.45153
[910]	train-rmse:9.21116	train-r2:0.48088	valid-rmse:9.06099	valid-r2:0.45224
[920]	train-rmse:9.19882	train-r2:0.48227	valid-rmse:9.05763	valid-r2:0.45264
[930]	train-rmse:9.18828	train-r2:0.48345	valid-rmse:9.05400	valid-r2:0.45308
[940]	train-rmse:9.17766	train-r2:0.48465	valid-rmse:9.04917	valid-r2:0.45366
[950]	train-rmse:9.16665	train-r2:0.48588	valid-rmse:9.04608	valid-r2:0.45404
[960]	train-rmse:9.15461	train-r2:0.48723	valid-rmse:9.04064	valid-r2:0.45469

[970]	train-rmse:9.14323	train-r2:0.48851	valid-rmse:9.03607	valid-r2:0.45524
[980]	train-rmse:9.13350	train-r2:0.48959	valid-rmse:9.03317	valid-r2:0.45559
[990]	train-rmse:9.12282	train-r2:0.49079	valid-rmse:9.02643	valid-r2:0.45641
[1000]	train-rmse:9.10990	train-r2:0.49223	valid-rmse:9.02197	valid-r2:0.45694
[1010]	train-rmse:9.09694	train-r2:0.49367	valid-rmse:9.01625	valid-r2:0.45763
[1020]	train-rmse:9.08740	train-r2:0.49473	valid-rmse:9.01177	valid-r2:0.45817
[1030]	train-rmse:9.07623	train-r2:0.49597	valid-rmse:9.01043	valid-r2:0.45833
[1040]	train-rmse:9.06513	train-r2:0.49721	valid-rmse:9.00572	valid-r2:0.45890
[1049]	train-rmse:9.05751	train-r2:0.49805	valid-rmse:9.00293	valid-r2:0.45923

In [187]:
# Predicting on test set
p_test = mdl.predict(d_test)
p_test

array([ 77.08671,  96.55628,  84.19772, ..., 102.39361, 107.45419,
        96.19262], dtype=float32)

In [188]:
Predicted_Data = pd.DataFrame()
Predicted_Data['y'] = p_test
Predicted_Data.head()

            y
0   77.086708
1   96.556282
2   84.197723
3   77.491554
4  110.642532

In [ ]:
# With the above model, we have the below metrics:
# train-rmse:9.05751	train-r2:0.49805
# valid-rmse:9.00293	valid-r2:0.45923